architecture/video/Photo_MLK.mp4
architecture/video/Photo_MLK.WebM
architecture/video/CNN_ST_RECORD_PLAYER_02.mp4
architecture/video/CNN_ST_RECORD_PLAYER_02.WebM
architecture/video/_old/r1/Photo_MLK.mp4
architecture/video/_old/r1/Photo_MLK.WebM
architecture/video/CNN_ST_RECORD_PLAYER_NewSeriesThursday.mp4
architecture/video/CNN_ST_RECORD_PLAYER_NewSeriesThursday.WebM
architecture/video/_old/CNN_ST_RECORD_PLAYER_02.mp4
architecture/video/_old/CNN_ST_RECORD_PLAYER_02.WebM
architecture/video/ep2/Photo_911.mp4
architecture/video/ep2/Photo_911.WebM
architecture/video/CNN_ST_RECORD_PLAYER_Thursdays.mp4
architecture/video/CNN_ST_RECORD_PLAYER_Thursdays.WebM
architecture/video/ep3/Photo_KENTVIETNAM.mp4
architecture/video/ep3/Photo_KENTVIETNAM.WebM
Photo_KATRINA.WebM
architecture/video/ep1/MLK_W_SFX.mp4
architecture/video/ep1/MLK_W_SFX.WebM
architecture/video/ep2/911wsfx.mp4
architecture/video/ep2/911wsfx.WebM
architecture/video/ep3/KENT_VIETNAMwsfx.mp4
architecture/video/ep3/KENT_VIETNAMwsfx.WebM
