	.episode-mg {
		margin-top: 50px;
		margin-bottom: 362px;
	}

	.timeline-ftr {
		/*background-image:url(images/CNN_ST_EpisodeTOC_JD_R04_01_footer.png);*/
		width: 100%;
		height: 363px;
		background-position: center bottom;
	}

	#logo_badge {
		z-index: 100000000;
	}

	div.border {
		margin-top: 60px;
	}

	#apple-badge {
		position: fixed;
		bottom: 40px;
		left: 40px;
		width: 110px;
		height: 40px;
		cursor: pointer;
	}

	#apple-player {

		-webkit-transition: bottom 1s;
	    -moz-transition: bottom 1s;
	    -o-transition: bottom 1s;
	    transition: bottom 1s;

		position: fixed;
		left: 20px;
		z-index: 100000000;
	}

	#apple-close {
		width: 20px;
		height: 20px;
		position: absolute;
		top: 3px;
		left: 4px;
	}

	.tape-title {
		margin: 0 auto;
		margin-top: 40px;
	}

	.mlk {
		width: 1144px;
	}

	.nine11 {
		width: 658px;
	}

	.kent-state {
		width: 956px;
	}

	.view {
		width: 287px;
	}

	.interviews {
		width: 227px;
	}

	.next_on {
		width: 448px;
	}
	.histories {
		width: 309px;
	}

	h2.t-center, h4.t-center {
		margin-top: 0px;
	}

	.song-history h4 {
		margin-top: 0px;
	}

	.t-center h2 {
		/*font-size: 28px;
		margin-bottom: 16px;*/
	}

	.inner p {
		font-size: 18px;
	}

	.inner .row {
		margin-bottom: 20px;
	}

	.no-margin-bottom {
		margin-bottom: 0px !important;
	}

	.arrow_img {
		width: 15px;
		height: 18px;
	}

	.arrow_down {
		display: block;
		width: 18px;
		height: 15px;
		margin: 0px;
		margin: 0 auto;

	}

	.arrow_right {
		display: block;
		margin: 0px;
		float: right;
		margin-top: -2px;
		margin-left: 10px;

	}

	#moon {
    	position: absolute;
    	top: 0px;
    	right: 0px;
    	z-index: 5;
    	width: 20%;
    }

    #moon img {
    	zoom: 40%;
    	/*width: 100%;*/
    }

    #moon_pop {
    	position: absolute;
    	left: 50%;
    	top: 30%;
    }


	/* ////////////////////// DESKTOP ///////////////////////// */

	/* 
	  ##Device = Laptops, Desktops
	  ##Screen = B/w 1025px to 1280px
	*/

	/* 
	  ##Device = Laptops, Desktops
	  ##Screen = B/w 1025px to 1280px
	*/

	@media (min-width: 1281px), (min-width: 1025px) and (max-width: 1280px) {
		#logo_badge {
			margin-left: 45px;
		}

		.background_home {
			/*background-image:url(../images/CNN_ST_RECORD_PLAYER.jpg);
			background-size: cover;*/
		}

		.background_ep1 {
			background-image:url(../images/episode1/E1_Bg_Tile.jpg);
	    	background-size: none;
	    	background-position: none;
	    	background-repeat: none;

	    	background-size: 100% auto;
		}

		.background_ep2 {
			background-image:url(../images/episode2/E2_Bg_Tile.jpg);
	    	background-size: none;
	    	background-position: none;
	    	background-repeat: none;

	    	background-size: 100% auto;
		}

		.background_ep3 {
			background-image:url(../images/episode3/E3_Bg_Tile.jpg);
	    	background-size: none;
	    	background-position: none;
	    	background-repeat: none;

	    	background-size: 100% auto;
		}

		.feature-boxes {
			padding-left: 24px;
			padding-right: 24px;
		}

		.feature-boxes .feature-box {
			padding-right: 10px;
			padding-left: 10px;
		}

		#sndtrx_preloader {
			position: absolute;
			opacity: .2;
			background-image:url(/images/preloader_top.png);
			width: 576px;
			height: 55px;
			left: 50%;
			top: 50%;
			margin-left: -288px;
			margin-top: -55px;
			opacity: .2;
			-webkit-animation-name: preFade;
		    -webkit-animation-iteration-count: infinite;
		    -webkit-animation-duration: 5s;
		    animation-name: preFade;
		    animation-iteration-count: infinite;
		    animation-duration: 5s;
		}

		@media 
		(-webkit-min-device-pixel-ratio: 2), 
		(min-resolution: 192dpi) { 
			#sndtrx_preloader {
				background-image:url(/images/preloader_top_2x.png);
				background-size: 100%;
			}
		}

		@-webkit-keyframes preFade {
		    0% {opacity: .2;}
		    60% {opacity: 1;}
		    100% {opacity: .2;}
		}

		@keyframes preFade {
		    0% {opacity: .2;}
		    60% {opacity: 1;}
		    100% {opacity: .2;}
		}

	}

	/* ////////////////////// END DESKTOP ///////////////////////// */

	/* Media Screen Color */

	@media only screen and (max-width: 1000px){

		.dark-nav .nav-inner div.nav-menu ul.nav{
			background-color:rgba(0,0,0, 0.80);
		}

		.dark-nav .nav-inner div.nav-menu ul.nav a:hover{
			/*background-color:#333 !important;*/
		}

	}

	/* 
	  ##Device = Tablets, Ipads (portrait)
	  ##Screen = B/w 768px to 1024px
	*/

	@media (min-width: 768px) and (max-width: 1024px) {
	  
	  	.background_ep1 {
			background-image:url(../images/episode1/E1_Bg_Tile.jpg);
	    	background-size: none;
	    	background-position: none;
	    	background-repeat: none;
	    	background-size: 100% auto;
		}

		.background_ep2 {
			background-image:url(../images/episode2/E2_Bg_Tile.jpg);
	    	background-size: none;
	    	background-position: none;
	    	background-repeat: none;
	    	background-size: 100% auto;
		}

		.background_ep3 {
			background-image:url(../images/episode3/E3_Bg_Tile.jpg);
	    	background-size: none;
	    	background-position: none;
	    	background-repeat: none;
	    	background-size: 100% auto;
		}

		.mlk {
			margin-top: 40px;
			width: 640px;
		}



		.inner {
			margin-top: 0px;
		}

		#mlk-img {
			content:url("../images/mobile/episode_1_title_2x.png");
		}

		#kent-img {
			content:url("../images/mobile/episode_3_title_2x.png");
		}
	  
	}

	@media only screen and (max-width: 1000px), @media (min-width: 768px) and (max-width: 1024px) {

		#sndtrx_preloader {
			position: absolute;
			opacity: .2;
			background-image:url(/images/preloader_stacked_top.png);
			width: 307px;
			height: 118px;
			left: 50%;
			top: 50%;
			margin-left: -153px;
			margin-top: -59px;
			opacity: .2;
			-webkit-animation-name: preFade;
		    -webkit-animation-iteration-count: infinite;
		    -webkit-animation-duration: 5s;
		    animation-name: preFade;
		    animation-iteration-count: infinite;
		    animation-duration: 5s;
		}

		@media 
		(-webkit-min-device-pixel-ratio: 2), 
		(min-resolution: 192dpi) { 
			#sndtrx_preloader {
				background-image:url(/images/preloader_stacked_top_2x.png);
				background-size: 100%;
			}
		}

		@-webkit-keyframes preFade {
		    0% {opacity: .2;}
		    60% {opacity: 1;}
		    100% {opacity: .2;}
		}

		@keyframes preFade {
		    0% {opacity: .2;}
		    60% {opacity: 1;}
		    100% {opacity: .2;}
		}

	}



	/* ////////////////////// START PHONE ///////////////////////// */

	/* 
	  ##Device = Low Resolution Tablets, Mobiles (Landscape)
	  ##Screen = B/w 481px to 767px
	*/

	/* 
	  ##Device = Most of the Smartphones Mobiles (Portrait)
	  ##Screen = B/w 320px to 479px
	*/

	@media (min-width: 481px) and (max-width: 767px), (min-width: 320px) and (max-width: 480px)  {
	  
	   .background_home {
			background-image:url(../images/mobile/CNN_SOUNDTRACKS_MOBILE_Thursdays.jpg);
			/*background-size: cover;*/
			background-size: cover;
			background-position: center
		}

		.background_ep1 {
			background-image:url(../images/episode1/E1_Bg_Tile_Small.jpg);
	    	background-size: none;
	    	background-position: none;
	    	background-repeat: none;
	    	background-size: 960px 540px;
		}

		.background_ep2 {
			background-image:url(../images/episode2/E2_Bg_Tile.jpg);
	    	background-size: none;
	    	background-position: none;
	    	background-repeat: none;
	    	background-size: 960px 540px;
		}

		.background_ep3 {
			background-image:url(../images/episode3/E3_Bg_Tile.jpg);
	    	background-size: none;
	    	background-position: none;
	    	background-repeat: none;
	    	background-size: 960px 540px;
		}

		span.glyphicon.glyphicon-menu-hamburger.hamburger {
			display: none;
		}

		ul.dropdown-menu.pull-left.clearfix {
			display: block;
		}

		.nav-menu ul.dropdown-menu li, .nav-menu ul.dropdown-menu li:last-child {
			border: none;
		}

		.dark-nav .nav-menu ul.dropdown-menu {
			background-color: rgba(0, 0, 0, 0);
		}

		.bw-type .home-extra-note {
			top: calc(100%-125px);
		}

		#apple-badge {
			left: 6%;
			bottom: 10px;
		}

		.nav-inner div.nav-menu ul.nav li a {
			font-weight: 600;
			color: #FFF;
		}

		div.border {
			margin-top: 60px;
		}

		.about-rt {
			width: 80%;
			text-align: center;
			margin: 0 auto;
			margin-top: 40px;
			padding-bottom: 80px;
		}

		.feature-boxes {
			padding: 0px;
			width: 50%;
			float: left;
		}

		h4 {
			font-size: 12px;
		}

		.t-center {
			margin-bottom: 80px;
		}


		.background_episodes {
			padding-bottom: 80px;
		}

		#mlk-img {
			content:url("../images/mobile/episode_1_title_2x.png");
		}

		#kent-img {
			content:url("../images/mobile/episode_3_title_2x.png");
		}

		.tape-title {
			width: 50%;
		}

		.inner {
			padding: 16px;
		}

		.t-center {
			margin-bottom: 10px;
			margin-top: 10px;
		}

		.eps-block {
			margin-bottom: 40px;
		}

		.mlk {
			width: 80%;
			margin-top: 16px;
		}

		.kent-state {
			width: 80%;
		}

		.nine11 {
			width: 100%;
		}

		.inner p {
			font-size: 16px;
		}

		.t-center h2 {
			font-size: 24px;
		}

		.arrow_down {
			display: none;
		}

		.lightcase-open body > *:not([id*='lightcase-']) {
			top: auto !important;
		}

		.sidebar {
			display: none;
		}

		.navbar-center a {
			letter-spacing: 1px;
		}

		#moon {
			top: 50px;
		}

		#sndtrx_preloader {
			position: absolute;
			opacity: .2;
			background-image:url(/images/preloader_stacked_top.png);
			width: 307px;
			height: 118px;
			left: 50%;
			top: 50%;
			margin-left: -153px;
			margin-top: -59px;
			opacity: .2;
			-webkit-animation-name: preFade;
		    -webkit-animation-iteration-count: infinite;
		    -webkit-animation-duration: 5s;
		    animation-name: preFade;
		    animation-iteration-count: infinite;
		    animation-duration: 5s;
		}

		@media 
		(-webkit-min-device-pixel-ratio: 2), 
		(min-resolution: 192dpi) { 
			#sndtrx_preloader {
				background-image:url(/images/preloader_stacked_top_2x_r2.png);
				background-size: 100%;
			}
		}

		@-webkit-keyframes preFade {
		    0% {opacity: .2;}
		    60% {opacity: 1;}
		    100% {opacity: .2;}
		}

		@keyframes preFade {
		    0% {opacity: .2;}
		    60% {opacity: 1;}
		    100% {opacity: .2;}
		}
	  
	}


	/* ////////////////////// END PHONE ///////////////////////// */

	.row {
		margin: 0;
	}

	@media (max-width: 768px) {

		.navbar-right {
			display: none;
		}

		.navbar-center {
			margin-left: 14px;
		}
	}

	.background_home {
		/*background-color: #000000;*/
		/*min-height: 1000px;*/
	}

	#introVideo { 

	    position: fixed;
	    top: 50%;
	    left: 50%;
	    transform: translateX(-50%) translateY(-50%);

	    /*min-width: 100%;
	    min-height: 100%;
	    width: auto;
	    height: auto;*/
	    z-index: -100;
	}

	.move-down {
		bottom: -506px;
	}

	.move-up {
		bottom: -6px;
	}

	.about-title {
		font-size: 14px;
		font-weight: bold;
		text-transform: uppercase;
	}

	#episode-1-video {
		margin-top: 50px;
		background-color: #000;
	}

	.lightcase-icon-close {
		position: fixed;
		top: 20px;
		right: 20px;
		font-size: 50px;
	}

	#lightcase-overlay {
		z-index: 10000 !important;
	}

	#lightcase-loading {
		z-index: 10001 !important;
	}

	#lightcase-case {
		z-index: 10002 !important;
	}

	.lightcase-icon-close {
		z-index: 10003 !important;
	}

	#lightcase-nav {
		z-index: 10004 !important;
	}

	#lightcase-nav a[class*='lightcase-icon-'] {
		z-index: 10004 !important;
	}

	#fullscreen {
		min-height: 100vh;
	}

	.album-collapse {
		/*-webkit-transition: all 1s;
	    -moz-transition: all 1s;
	    -o-transition: all 1s;
	    transition: all 1s;
		transform: all .2s ease-in-out;*/

		-webkit-transition: -webkit-transform 0.4s;
		transition: transform 0.4s;
	}

	.album-collapse:hover { 

		-webkit-transform: scale(1.1);
	    -moz-transform: scale(1.1);
	    -o-transform: scale(1.1);
	    transform: scale(1.1); 
	}

	#CTA {
		cursor: pointer;
		line-height: 1;
		margin-right: -10px;
	}

	.fa-2x {
		font-size: 1.5em;
	}

	#temp {
		height: 800px;
	}

	.ep1 {
		display: block;
		position: absolute;
		height: 100%;
		/* background: url(/images/CNN_EpisodeTOC_Sidebar.png) no-repeat left top; */
	}

	.ep1 img {
		max-width: 100%;
		max-height: 100%;
	}

	#episode-wrapper {
		min-height: 100%;
	}

	#episode-wrapper:after{
		content: "";
		display: block;
	}

	#lightcase-content {
		background-color: #000 !important;
	}

	.episode_video {
		float: none;
		margin: 0 auto;
	}

	

	#readMore p {
		color: #FFFFFF;
	}

	.sidebar {
		position: absolute;
		width: 20%;
	}

	.song_history h2 {
		text-transform: uppercase;
		font-style: italic;
		font-size: 28px;
		margin-bottom: 16px;
	}

	.song_history h2 span {
		font-style: normal;
	}

	.about h2 {
		text-transform: uppercase;
		font-size: 28px;
		margin-bottom: 16px;
	}

	.song_history h4 {
		color: #FFF;
		font-weight: bold;
		font-size: 20px;
	}

	.line-separator {
		height:1px;
		width: 100%;
		background:#FFFFFF;
		border-bottom:1px solid #FFFFFF;
		margin: 0 auto;
		margin-bottom: 10px;
	}

	.alternate {
		margin-top: 80px;
	}

	i {
		font-style: italic;
	}

	.episode-extra-note {
		top: auto;
		/*bottom: 55px !important;*/
	}

	#mtrivia {
		margin-top: 55px;
	}

	#season_playlist {
		display: none;
	}

	#mlk_playlist {
		display: none;
	}


	.map { position:absolute; top:0; bottom:0; width:100%; }

    .leaflet-popup-close-button {
    	left: 0 !important;
    }

    .leaflet-bar {
    	background-color: transparent !important;
    }

    .leaflet-bar a {
    	display: inline-block !important;
    	width: 50px !important;
    	height: 50px !important;
    }

    .leaflet-bar a:hover {
    	background-color: #CC0000;
    }

    .leaflet-control-zoom-out {
    	background-color: #CC0000 !important;
    	opacity: 1 !important;
    	background-image: url('../images/zoom_minus.png') !important;
    	background-size: 50px 50px !important;
    	background-position: 0px 0px !important;
    	margin-left: 5px !important;
    }

    .leaflet-control-zoom-in {
    	background-color: #CC0000 !important;
    	opacity: 1 !important;
    	background-image: url('../images/zoom_plus.png') !important;
    	background-size: 50px 50px !important;
    }

    .leaflet-container {
    	font-family: Arial, Helvetica, sans-serif;
    }

    .leaflet-control-attribution {
    	display: none !important;
    }

    .sndtrx_bubble {
    	z-index: 100000000;
    	width: 210px;
    }

    .sndtrx_bubble p {
    	font-family: Arial, Helvetica, sans-serif;
    	font-size: 15px;
    	color: rgba(0, 0, 0, .75);
    	line-height: 20px;
    	margin: 0 0 10px;
    }

    #popup-leaflet {
    	position: absolute;
    	top: 200px;
    	right: 0px;
    	background-color: #FFF;
    	padding: 15px 10px;
    	border-radius: 4px;
    	z-index: 100;
    	display: none;
    }

    #intro-home {
    	display: none;
    	cursor: pointer;
    	top: 85%;
    	z-index: 1000000;
    }

    #home-episodes {
    	display: none;
    }

    #cf {
	  position:relative;
	  height:200px;
	  width:210px;
	  margin:0 auto;
	}

	#cf img {
	  position:absolute;
	  left:0;

	    -webkit-animation-name: fade;
	    -webkit-animation-iteration-count: infinite;
	    -webkit-animation-duration: 6s;
	    animation-name: fade;
	    animation-iteration-count: infinite;
	    animation-duration: 6s;
	}

	@-webkit-keyframes fade {
	    0% {opacity: 0;}
	    25% {opacity: 1;}
	    50% {opacity: 1;}
	    75% {opacity: 0;}
	    100% {opacity: 0;}
	}

	@keyframes fade {
	    0% {opacity: 0;}
	    25% {opacity: 1;}
	    50% {opacity: 1;}
	    75% {opacity: 0;}
	    100% {opacity: 0;}
	}

	.top {

	}

	.bottom {
		-webkit-animation-delay: -3s;
		animation-delay: -3s;
	}

	#pageloader.dark-loader {
		background-color: #111111;
	}

	@media only screen and (max-width: 320px) {
	 .mwidget {
	   padding: 0 !important;
	   margin-left: -15px;
	   margin-right: -15px;
	 }
	}

