html {
	height: 100%;
	/*background:#000 url(../images/CNN_ST_RECORD_PLAYER.jpg) no-repeat center center fixed;*/
	min-height:100%;
	/*-webkit-background-size: cover;
	   -moz-background-size: cover;
	     -o-background-size: cover;
	        background-size: cover;*/
}

body {
	height: 100%;
	background:transparent;
	min-height:100%;
	-webkit-font-smoothing: antialiased;
	-webkit-overflow-scrolling: touch;
	line-height: 1.5em;
	font-size:14px;
	font-family: Helvetica, Arial, sans-serif;
	color:#fff;
	color:rgba(255,255,255,.8);
	font-weight: normal;
}

#container {
	min-height: 100%;
	position: relative;
}


/********************************************************/
/*                    Navigation bar                    */
/********************************************************/
.navbar-default {
	border: none;
	border-bottom: 1px #FFF solid;
	height: 50px;
	z-index: 300;
}
.navbar-default .navbar-collapse {
	padding: 0px;
	background-color: #000;
	border-color: #FFF;
}

.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus {
	color: #FFF;
}

.navbar-default .navbar-nav>li>a {
	color: #FFF;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
	color: #FFF;
	background-color: transparent;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a:focus {
	color: #FFF;
	background-color: transparent;
}

.dropdown-menu {
	background-color: #000;
	border: none;
}

.dropdown-menu>li>a {
	color: #FFF;
	font-weight: bold
}

.dropdown-menu>li>a span {
	color: #cc0000;
}

.navbar-brand {
    float: none;
  }

.navbar-center
{
	position: absolute;
	width: 100%;
	left: 0;
	top: 0;
	text-align: center;
	margin: auto;
	height:100%;
	/*z-index: 1000000;*/
}

.navbar-center a {
	font-size: 20px;
	font-weight: bold;
	color: #cc0000 !important;
	letter-spacing: 5px;
}

.navbar-header {
	margin-left: 45px;
}

.navbar-right {
	margin-right: 45px;
	height: 50px;
}

#logo {
	background: url(../images/logo_cnn_badge_2up.png) no-repeat;
	background-position: 0 0;
	background-size: 60px;
	position: relative;
	width: 60px;
	height: 60px;
}

@media (min-width: 768px) {
	.navbar-collapse.collapse {
		height: 50px !important;
	}

	.navbar-left {
		margin-left: 20px;
	}
}

.glyphicon {
	top: 2px;
}

.hamburger {
	margin-top: -2px;
}

.follow {
	font-size: 15px;
	font-weight: bold;
	color: #FFFFFF;
	line-height: 50px;
	margin-left: 10px;
}

.fa {
	color: #fff;
	padding-right: 6px;
	padding-left: 6px;
	vertical-align: middle;
}

.fa.divider {
	padding-right: 10px;
	border-right: solid 2px;
}


/********************************************************/
/*             Sections - universal classes             */
/********************************************************/
.section {
	z-index: 1;
	min-height:420px;
	width: 100%;
	overflow:auto;
	height:100%;
	padding-top:100px;
	padding-bottom:50px;
	display:none;
	top:0;
}
@media (min-width: 768px) {
	.section { padding-top:160px;}
}

/* Show one of sections */
#head {
	display: block;
	padding-top: 50px;
}


/********************************************************/
/*                      Typography                      */
/********************************************************/
a { color:#fff; text-decoration: none; font-size: 18px;}
a:hover, a:active { color:#fff; }
.lead {
	font-weight:normal;
	font-size:1.5em;
	line-height:1.2em;
}

.title,
.subtitle {
	font-family: 'Wire One', Helvetica, Arial, sans-serif;
	font-weight:normal;
	font-size:7em;
	margin-bottom:15px;
	color:#FDF9F4;
	line-height:1em;
}
.subtitle {
	line-height:.9em;
	font-size:5.5em;
	margin-top:0;
	margin-bottom:40px;
}
.tagline {
	font-size:1.4em;
	line-height:1.3em;
	font-weight:normal;
	margin-bottom:75px;
}

@media (max-width: 767px) {
	.lead {
		font-size:1.3em;
	}
}

.red {
	color: #cc0000;
}

.white {
	color: #FFF;
}

/********************************************************/
/*                   UI - Buttons                       */
/********************************************************/
.btn{
	color:#333;
	text-shadow: none;
	text-decoration: none;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	border:0 none;
}
.btn:hover {
	color:#000;
}
.btn-lg {
	padding:16px 30px;
	font-size:inherit;
}

.btn-link {
	color:rgba(255,255,255,.8);
}
.btn-link:hover, .btn-link:focus, .btn-link:active {
	color:#fff
}
.btn-default {
	background: rgba(255,255,255,.5);
}
.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active {
	background: rgba(255,255,255,.8);
}
.btn-primary {
	background: rgba(255,255,255,.2);
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary:active {
	background: rgba(255,255,255,.5);
}



/********************************************************/
/*                 UI - Thumbnails                      */
/********************************************************/
.thumbnail {
	background-color: rgba(255,255,255,.2);
	border: 0 none;
	padding:10px;
	-webkit-border-radius: 2px;
	   -moz-border-radius: 2px;
	        border-radius: 2px;
}
.thumbnail .caption {
	color: inherit;
}



/********************************************************/
/*                 Everything else                      */
/********************************************************/

.list-social .btn {
	font-size:1.3em;
}
.list-social .btn:hover, .list-social .btn:active, .list-social .btn:focus {
	text-decoration: none;
}

#itunes_listen {
	position: absolute;
	left: 42px;
	bottom: 35px;
}

p {
	color: #FFF;
}

h2, h3 {
	color: #CC0000;
	font-weight: bold;
	padding: 0;
	margin: 0;
}

h2 {
	font-size: 18px;
}

h3 {
	font-size: 14px;
	margin-top: 16px;
}

.about-rt {
	width: 37.66666667%;
	text-align: left;
}

.about-lt {
	background: url(../images/about_album_covers.png) no-repeat;
	background-size: 100%;
}

.about-lt img {
	visibility: hidden;
}


/* Social buttons in the footer */
#social {
	margin-top:50px;
	margin-bottom:50px;
}
#social .wrapper {
	width:340px;
	margin:0 auto;
}




/***********************************************************/
/*                   Theme: text shadows                   */
/***********************************************************/
.text-shadows {
	text-shadow:0 1px 2px rgba(0,0,0,.2);
}
.text-shadows .title,
.text-shadows .subtitle,
.text-shadows .tagline {
	text-shadow:0 2px 3px rgba(0,0,0,.4);
}
.text-shadows .mainmenu .dropdown-menu a {
	text-shadow:0 2px 1px rgba(0,0,0,.2);
}
.text-shadows .mainmenu .dropdown-menu a:hover {
	text-shadow:none;
}



/***********************************************************/
/*                   Inverted theme                        */
/***********************************************************/
.theme-invert {
	color:#222;
	color:rgba(0,0,0,.8);
 }
.theme-invert a {
	color:#000;
}
.theme-invert .btn {
	color:rgba(255,255,255,.8);
}
.theme-invert .btn:hover {
	color:#fff;
}
.theme-invert .btn-link {
	color:rgba(0,0,0,.8);
}
.theme-invert .btn-link:hover, .theme-invert .btn-link:focus, .theme-invert .btn-link:active {
	color:#000
}
.theme-invert .navbar-toggle {
	background: rgba(0, 0, 0, 0.12);
}
.theme-invert .navbar-toggle .icon-bar {
  background: #333;
}
.theme-invert .mainmenu .dropdown-menu a {
	color:#000;
}
.theme-invert .mainmenu .dropdown-menu a:hover {
	background:rgba(0,0,0,.1);
	color:#000;
}

.theme-invert .title,
.theme-invert .subtitle,
.theme-invert .tagline {
	color:#222222;
}

.theme-invert .btn-default {
	background: rgba(0,0,0,.4);
}
.theme-invert .btn-default:hover,
.theme-invert .btn-default:focus,
.theme-invert .btn-default:active,
.theme-invert .btn-default.active {
	background: rgba(0,0,0,.6);
	color:#fff;
}
.theme-invert .btn-primary {
	background: rgba(0,0,0,.2);
}
.theme-invert .btn-primary:hover,
.theme-invert .btn-primary:focus,
.theme-invert .btn-primary:active,
.theme-invert .btn-primary.active {
	background: rgba(0,0,0,.3);
	color:#fff;
}

.theme-invert .thumbnail {
	background-color: rgba(255,255,255,.8);
}
.thumbnail .caption {
	color: inherit;
}
